.Footer {
    background-color: #073b4c;
    width: 100%;
  }
  .sb_footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    text-align: right;
  }
  .socialmedia1 {
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinea verticalmente en el centro */
    width: 100%;
  }
  .rc {
    margin-left: 500px;
    width: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lc {
    margin-right: 30px;
    width: 30px;
    justify-content: space-between;
    display: flex;
  }
  .cc{
    margin-left: 600px;
    width: 30x;
    display: flex;
    align-items: center;
  }
  a {
    color: #FFFFFF;
    text-decoration: none;
    text-align: left;
    margin: 0 15px;
  }

  .cc .a{
    color: #2aa539;
    text-decoration: none;
    text-align: left;
    margin: 0 15px;
  }

  img {
    width: 48px; /* Ajusta el ancho de las imágenes según sea necesario */
    margin: 0 5px; /* Ajusta el margen entre las imágenes */
  }