.container-wrapper {
  display: flex;
  margin-left: 250px;
}

.container {
  background-color: rgb(213, 228, 228);
  width: 375px;
  height: 700px;
  padding: 20px;
  margin-left: 32px; /* Cambiado para dar espacio entre contenedores */
}

.title {
  color: black;
  font-size: 23px;
  margin-bottom: 10px;
}

.text {
  color: gray;
  font-size: 14px;
  margin-bottom: 10px;
}

.subtitle {
  color: black;
  font-size: 16px;
  margin-bottom: -30px;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.team-photos {
  display: flex;
  flex-direction: row;
}

.team-photos .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: -20px;
}

.team-size {
  position: relative;
  display: flex;
  align-items: center;
}

.indicator {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -20px;
}

.progress-container {
  margin-top: 20px;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 5px; /* Haciendo la línea más delgada */
  background-color: lightgray;
  border-radius: 5px;
  margin-top: 10px;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: green;
  border-radius: 5px;
}

.progress-indicator {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Haciendo el punto o círculo más grande */
  height: 20px; /* Haciendo el punto o círculo más grande */
  background-color: white;
  border: 2px solid green;
  border-radius: 50%;
  cursor: pointer;
}

.percentage {
  font-size: 20px; /* Tamaño de fuente más grande */
  cursor: pointer; /* Cambia el cursor al pasar por encima para indicar que es ajustable */
  margin-left: 70px; /* Añadimos un espacio entre "Progress" y el porcentaje */
}
